APT::FTPArchive::Release::Codename "@DIST@";
APT::FTPArchive::Release::Origin "Debian";
APT::FTPArchive::Release::Components "main";
APT::FTPArchive::Release::Label "Debian";
APT::FTPArchive::Release::Architectures "@ARCH@";
APT::FTPArchive::Release::Suite "stable";
