###disable dhcp
#d-i netcfg/disable_dhcp boolean true

###Package selection
tasksel tasksel/first multiselect minimal
popularity-contest popularity-contest/participate boolean false

###Not create alternative user
d-i passwd/make-user boolean false

### Apt setup
d-i apt-setup/use_mirror boolean false
d-i apt-setup/services-select ultiselect

# Automatically partition
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

### Individual additional packages to install
d-i pkgsel/include string rrdtool openssh-server libio-interface-perl libdata-validate-ip-perl libnet-ssh-perl libexpect-perl expect libnet-ssh-expect-perl libgd-3dbargrapher-perl rsync libpcap0.8 libproc-daemon-perl liblinux-inotify2-perl librrds-perl libfile-grep-perl iputils-arping netstat-nat karmalb-keyring karmalb mini-httpd monitoring-plugins-basic monitoring-plugins-ldap-karmalb irqbalance chrony

##Install grub automatically if no other operative system installed detected
d-i grub-installer/only_debian boolean true
# To install to the first device (assuming it is not a USB stick):
d-i grub-installer/bootdev  string default
# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

# update grub string (package can't do it due to ordering)
d-i preseed/late_command string \
	in-target /bin/sed -i -e 's/^GRUB_DISTRIBUTOR=.*/GRUB_DISTRIBUTOR="@SHORTNAME@ @VERSION@"/' /etc/default/grub; \
	in-target /usr/sbin/update-grub
